.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #070707;
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.rem 3rem 0 #070707;
    transform: translateY(-0.4rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #070707;
    color: white;
  }
  
  .choice-text {
    color: #030303;
    padding: 2rem;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }
  
  /* HUD */
  
  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    color: #000000;
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }

  #progressBar {
      width: 20rem;
      height: 4rem;
      border: 0.3rem solid #070707;
      margin-top: 1rem;
  }

  #progressBarFull {
      height: 3.4rem;
      background-color: #797878;
      width: 0%;
  }

  #progressText {
    color: #000000;
  }