#highScoresList {
    color: #A5A2A0;
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;

}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.highScore:hover {
    transform: scale(1.025);
}

li {
    color: #070707;
    text-transform: capitalize;
}